.button {
    -fx-text-fill: #fff;
    -fx-background-color: #007bff;
    -fx-border-color: #007bff;
    -fx-cursor: hand;
}

.button:hover {
    -fx-text-fill: #fff;
    -fx-background-color: #0069d9;
    -fx-border-color: #0062cc;
}
.button:pressed {
    -fx-text-fill: #fff;
    -fx-background-color: #0062cc;
    -fx-border-color: rgba(58, 179, 224, 0.68);
    -fx-border-insets: -2, -2, -2, -2;
    -fx-border-width: 4;
    -fx-background-insets: -1, -1, -1, -1;
    -fx-background-radius: 3px, 3px, 3px, 3px;
    -fx-border-radius: 3px, 3px, 3px, 3px;

}

#txtPassword {
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-border-radius: 0 0 3 3;
    -fx-background-radius: 0 0 3 3;
    -fx-border-color: #ced4da;
}
#txtUsername {
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-border-color: #ced4da;
    -fx-border-radius: 3 3 0 0 ;
    -fx-background-radius: 3 3 0 0;
}
.tooltip {
    -fx-background: rgb(255, 255, 255);
    -fx-text-fill: black;
    -fx-background-color: rgba(255, 255, 255,0.8);
    -fx-background-radius: 6px;
    -fx-background-insets: 0;
    -fx-font-size: 0.60em;
}




